{{template "base" .}}

{{define "head"}}
    <title>About Page</title>
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>About</h1>
                <p>
                    {{if ne (index .StringMap "test") ""}}
                        My ip is: {{index .StringMap "test"}}
                    {{else}}
                        I dont know your IP. Visit <a href="/">Home page</a>

                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}
