{{template "base" .}}

{{define "head"}}
<title>Home Page</title>
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Home</h1>
                <img src="/static/images/outside.png" width="500" height="350" alt="outside" />
            </div>
        </div>
    </div>
{{end}}
