{{template "base" .}}

{{define "content"}}
  <div class="container">
    <div class="row">
      empty
    </div>

  </div>
{{end}}


{{define "js"}}
  <script>
      const elem = document.getElementById('reservation-dates');
      const rangePicker = new DateRangePicker(elem, {
          format: "yyyy-mm-dd",
      });
  </script>
{{end}}

